* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "kaushan";
  src: url("../assets/tipografias/KaushanScript-Regular.ttf"); }

@font-face {
  font-family: "caviar";
  src: url("../assets/tipografias/CaviarDreams_Bold.ttf"); }

@font-face {
  font-family: "marcellus";
  src: url("../assets/tipografias/Marcellus-Regular.ttf"); }

@font-face {
  font-family: "ananda";
  src: url("../assets/tipografias/Ananda Personal Use.ttf"); }

footer {
  background-color: #D9B471;
  width: 100%;
  padding: 1rem; }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    footer div div {
      display: flex;
      align-items: center;
      gap: 1rem; }
      footer div div img {
        width: 3.75rem;
        height: 3.75rem;
        object-fit: contain; }

footer div p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "marcellous"; }

footer div .footer-social {
  display: flex;
  gap: 1rem; }
  footer div .footer-social a {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem; }
    footer div .footer-social a img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.main-index {
  background-color: #0D0D0D; }
  .main-index .banner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 1600px;
    background-image: url("../assets/img/pole-banner-big.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .main-index .banner img {
      width: 100%;
      grid-row: 1;
      grid-column: 6;
      object-fit: contain;
      order: 1;
      padding: 3.125rem; }
    .main-index .banner #page-name {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 5;
      color: #0D0D0D;
      font-family: "kaushan";
      font-size: 5rem;
      justify-self: center;
      align-self: center;
      order: 2; }
    .main-index .banner .slogan {
      grid-row-start: 7;
      grid-row-end: 8;
      grid-column-start: 1;
      grid-column-end: 4;
      color: #0D0D0D;
      font-family: "ananda";
      font-size: 2.5rem;
      justify-self: left;
      padding: 4.375rem; }
  .main-index .section-who article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .main-index .section-who article h1 {
      font-family: 'caviar';
      font-size: 2.5rem;
      color: #D9B471;
      text-align: center;
      padding: 1.25rem; }
    .main-index .section-who article div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .main-index .section-who article div img {
        width: 25%;
        height: auto;
        object-fit: cover;
        padding: 1.5625rem;
        margin: 1.5625rem;
        justify-content: left; }
      .main-index .section-who article div p {
        font-family: "caviar";
        font-size: 1.5625rem;
        color: #D9B471;
        width: 50%; }
  .main-index .section-disciplines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    .main-index .section-disciplines h2 {
      font-family: "caviar";
      font-size: 1.875rem;
      color: #D9B471;
      text-align: center;
      padding: 1.25rem;
      margin: 1.875rem; }
    .main-index .section-disciplines .article-disciplines {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 18.75rem;
      flex-wrap: wrap; }
      .main-index .section-disciplines .article-disciplines .card-disciplines {
        flex-direction: column;
        width: 12.5rem;
        gap: 2.5rem;
        margin: 2.5rem;
        text-align: center;
        flex-wrap: wrap; }
        .main-index .section-disciplines .article-disciplines .card-disciplines img {
          width: 9.375rem;
          height: 9.375rem;
          object-fit: cover;
          flex-wrap: wrap; }
        .main-index .section-disciplines .article-disciplines .card-disciplines p {
          font-family: "marcellus";
          font-size: 1.25rem;
          color: #D9B471;
          text-align: center;
          justify-content: center; }

/*
        .card-container-disciplines{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            h2{
                @include h2;
            }
            .card-disciplines{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 12.5rem;
                img{
                    width: 100%;
                    height: auto;
                p{
                    font-family: "marcellus";
                    font-size: 1.25rem; 
                    color: #D9B471;
                    text-align: center;
                    justify-content: center;
                }
                }
            }
        }
    }
    }
}*/
.main-pole-sport {
  background-color: black; }
  .main-pole-sport h1 {
    font-family: "caviar";
    font-size: 2.5rem;
    color: #D9B471;
    text-align: center;
    padding: 1.25rem; }
  .main-pole-sport .card-container-pole-sport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .main-pole-sport .card-container-pole-sport .card-pole {
      display: flex;
      flex-direction: row;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;
      height: 31.25rem;
      margin: 6.25rem; }
      .main-pole-sport .card-container-pole-sport .card-pole div img {
        width: 40%;
        object-fit: contain;
        height: 50rem; }
      .main-pole-sport .card-container-pole-sport .card-pole div p {
        font-family: "marcellus";
        font-size: 1.25rem;
        color: #D9B471;
        text-align: center;
        justify-content: center;
        width: 40%; }

.main-estudios-instrus {
  background-color: black;
  width: 100%; }
  .main-estudios-instrus .estudios-banner {
    width: 100%;
    display: block; }
    .main-estudios-instrus .estudios-banner h1 {
      font-family: 'caviar';
      font-size: 2.5rem;
      color: #D9B471;
      text-align: center;
      padding: 1.25rem;
      margin-bottom: 1rem; }
    .main-estudios-instrus .estudios-banner img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover; }

.section-estudios div {
  font-family: "caviar";
  font-size: 1.875rem;
  color: #D9B471;
  text-align: center;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section-estudios div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 95%; }
  .section-estudios div .card-container-estudios div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 1.875rem;
    margin: 1.25rem;
    gap: 2.1875rem 0rem; }
    .section-estudios div .card-container-estudios div h3 {
      font-family: "caviar";
      font-size: 1.5625rem;
      color: #D9B471;
      text-align: center;
      gap: 1.25rem;
      padding: 1.25rem; }
      .section-estudios div .card-container-estudios div h3 p {
        font-family: "marcellous";
        font-size: .625rem;
        color: #D9B471;
        text-align: center;
        padding: 1.25rem; }

.instrus-listado h2 {
  font-family: "caviar";
  font-size: 1.875rem;
  color: #D9B471;
  text-align: center;
  padding: 1.25rem; }

.instrus-listado .container-instrus div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding: 1.875rem;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  width: 100%;
  text-align: center;
  height: 18.75rem; }
  .instrus-listado .container-instrus div article div {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .instrus-listado .container-instrus div article div p {
      font-family: "marcellous";
      font-size: 1.875rem;
      color: #D9B471;
      margin: 3.125rem;
      padding: 1.25rem; }

.main-competencias {
  background-color: black;
  width: 100%; }
  .main-competencias .section-competencias-banner {
    gap: 2rem;
    padding: 2rem; }
    .main-competencias .section-competencias-banner h1 {
      font-family: 'caviar';
      font-size: 2.5rem;
      color: #D9B471;
      text-align: center;
      padding: 1.25rem;
      margin-bottom: 16px; }
    .main-competencias .section-competencias-banner img {
      width: 60%;
      object-fit: contain; }
  .main-competencias .section-competencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.25rem; }

.main-contacto {
  background-color: black;
  width: 100%; }
  .main-contacto .section-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.25rem; }
    .main-contacto .section-contacto h1 {
      font-family: 'caviar';
      font-size: 2.5rem;
      color: #D9B471;
      text-align: center;
      padding: 1.25rem; }
      .main-contacto .section-contacto h1 div img {
        width: 100%;
        height: fit-content;
        object-fit: contain; }
  .main-contacto .section-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: "caviar";
    color: #D9B471;
    font-size: 1.875rem;
    padding: .625rem 15.625rem 12.5rem 15.625rem; }
    .main-contacto .section-formulario form {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      margin: 2.5rem; }
      .main-contacto .section-formulario form label {
        text-align: left;
        padding: .625rem; }
      .main-contacto .section-formulario form input {
        border: .0625rem solid;
        font-size: 1.875rem;
        color: black; }
      .main-contacto .section-formulario form .enviar {
        margin-top: 2.1875rem;
        background-color: #D9B471;
        font-family: 'caviar';
        padding: .625rem;
        border: black;
        border-radius: 1.875rem; }

nav {
  background-color: #0D0D0D;
  padding: 10px;
  width: 100%; }
  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: "caviar"; }
    nav ul li {
      margin: 10px; }
      nav ul li a {
        color: #D9B471;
        text-decoration: none;
        display: flex;
        font-size: 20px;
        padding: 10px; }

@media (max-width: 1024px) {
  .estuios-banner {
    max-width: 90%; }
  .container-estudios {
    flex-wrap: wrap; }
  .card-container {
    width: calc(50% - 20px);
    padding: 2rem; }
  .container-instrus p {
    width: 100%;
    max-width: 25rem; } }

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column; }
  .estuios-banner {
    max-width: 95%; }
  .article-who {
    flex-direction: column;
    align-items: center; }
  .article-disciplines {
    flex-direction: column;
    align-items: center; }
  .container-estudios {
    flex-direction: column;
    align-items: center; }
  .card-container {
    width: 100%;
    max-width: 25rem;
    padding: 1.5rem; }
  .container-instrus p {
    padding: 1.25rem; }
  .card-container p {
    font-size: 0.875rem; }
  .formulario {
    width: 200px;
    min-width: 200px; }
  .formulario input {
    width: 50%;
    min-width: 100px; }
  .formulario label {
    width: 50%;
    min-width: 100px; }
  .contacto img {
    min-width: 100px; } }

@media (max-width: 425px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .banner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .footer-content {
    flex-direction: column; }
  .estuios-banner {
    max-width: 100%; }
  .container-estudios, .container-instrus {
    padding: 1rem; }
  .card-container {
    padding: 1rem; }
  .container-instrus p {
    padding: 1rem; }
  .card-container p {
    font-size: 0.8125rem; } }
