main{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    section{
        h1{
            @include h1;
        }
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }


main{
    section{
        h2{
            @include h2;
            div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
                padding: 1.875rem;
                .card-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 3.125rem;
                    h3{
                        @include h3;
                        p{
                            font-family: "marcellous";
                            font-size: .9375rem;
                            color: #D9B471;
                            text-align: center;
                            padding: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

main{
    section{
        .instrus-listado{
            h2{
                @include h2;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    padding: 1.875rem;
                    article{
                        div{
                            h3{
                                @include h3;
                                    p{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 1.875rem;
                                        width: 31.25rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
