.main-pole-sport{
    h1{
        font-family: "caviar";
        font-size: 2.5rem;
        color: #D9B471;
        text-align: center;
        padding: 1.25rem;
        section{
            width: 100%;
            height: 100%;
            gap: 20px;
            div{
                align-items: center; 
                padding: 6.25rem;
                p{
                    font-family: "caviar";
                    font-size: 1.5625rem;
                    color: #D9B471;
                }
            }
        }
    }
}