@font-face{
    font-family: "kaushan";
    src: url("../assets/tipografias/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "caviar";
    src: url("../assets/tipografias/CaviarDreams_Bold.ttf");
}

@font-face {
    font-family: "marcellus";
    src: url("../assets/tipografias/Marcellus-Regular.ttf");
}

@font-face {
    font-family: "ananda";
    src: url("../assets/tipografias/Ananda\ Personal\ Use.ttf");
}